.nameZone {
    background: white;
    text-align: center;
    border-radius: 6px;
    width: 27.18vw;
    height: 5.22vh;
    margin: 2.5% 0 2.5% 15%;
    font-weight: 700;
    font-size: 2vh;
    line-height: 28px;
    border: 1px solid #33333350;
  }
